# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\FP Python\a11-913-Herlea-Stefan-Alexandru\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
